.user-detail {
  position: relative;
  padding: 100px;
}
.detail-box {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}
.detail-box h2 {
  padding: 2px;
}
.content-detail {
}
